<div class="container">
  <div class="six columns">
    <h1>LinkLibrary</h1>
  </div>

  <div class="ten columns" id="nav">
    <ul>
      <li><%= link_to "Manage Your Collections", user_collections_path(@user) %></li>
      <li><a href='#'>About LinkLibrary</a></li>
      <li><a href='#'>Contact Us</a></li>
      <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
    </ul>
  </div>
  <div class="sixteen columns" id="subnav" class='<%= current_user.id %>'>
    <p>Hello, <strong><%= current_user.name || current_user.first_name %></strong>!</p>
  </div>
  <div class='sixteen columns' id='main_body'>
    <div class='four columns' id='collections'>
      <div id="collectionsDiv">
        <h3>Collections</h3>
        <%= render @user.collections  %>
      </div>
    </div>
    <div class='four columns' id='categories'>
      <div id="categoriesDiv">
        <h3>Categories</h3>
      </div>
    </div>
    <div class='four columns' id='links'>
      <div id="categoriesDiv">
        <h3>Links</h3>
        <% current_user.links.each do |link| %>
        <p> <%= link.url %> </p>
        <% end %>
      </div>
    </div>
    <div class='four columns' id='annotations'>
      <div id="annotationsDiv">
        <h3>Annotations</h3>
      </div>
  </div>


</div> <!-- closes container class  -->



<% if current_user %>

  <% else %>
    <button><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></button>
  <% end %>
