<div class="container">
  <div class="six columns">
    <h1>LinkLibrary</h1>
  </div>

  <div class="ten columns" id="nav">
    <ul>
      <li><%= link_to "Manage Your Libraries", user_collections_path(@user) %></li>
      <li><a href='/getting started'>Getting Started</a></li>
      <li><a href='#'>Contact Us</a></li>
      <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
    </ul>
  </div>
  <div class="sixteen columns" id="subnav">
    <p>Hello, <strong><%= @user.name || @user.first_name %></strong>!</p>
  </div>

  <div class='sixteen columns' id='main_body'>
    <section class='eight columns' class='optionMenu'>
      <div id='linkLibrary'>
        <h3>View Your Link Libraries</h3>
      </div>

      <div id='addLinksDiv'>
        <h3>Create New Link</h3>
      </div>

      <div id='addedLinksDiv'>
        <h3>Recently Added Links</h3>
          <ul> <% @user.links.each do |link|%>
            <li>Title: <a href='<%= link.url %>'><%= link.title %></a></li>
          </ul> <% end %>
      </div>

    </section>

    <section class='eight columns' class='viewOptions'>
      <div id='displayChoice'>
        <ul class="menu">
          <%=render 'collections/menu', :user => @user %>
        </ul>
          <%= render 'links/form', :user => @user %>
      </div>
    </section>
  </div>
</div> <!-- closes container class  -->






<!-- <div class='four columns' id='collections'>

        <h3>Collections</h3>
        <%#= render @user.collections  %>
      </div>
    </div>
    <div class='four columns' id='categories'>

        <h3>Categories</h3>
      </div>
    </div>
    <div class='four columns' id='links'>

        <h3>Links</h3>
        <%# current_user.links.each do |link| %>
        <p> <%#= link.url %> </p>
        <%# end %>
      </div>
    </div>
    <div class='four columns' id='annotations'>

        <h3>Annotations</h3>
      </div>
  </div> -->
